@import "style.css";
@import "content_iner.css";

/*--------------------------------------------------
  ������� ������ ��� ��������
-----------------------------------------------*/
div.t1 {
    display: none;
}

div.t0, div.t1 {
}

/*------------------------------
   ����� ����� 
----------------------------*/

#content {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 87px;
}

/*------------------------------
   ����� ������� 
----------------------------*/
#left_column {
    float: left;
    width: 232px;
    padding: 85px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#new_radio {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 21px;
    color: #ff6600;
    background: url(../images/plus.gif) 0 0 no-repeat;
    padding: 2px 0 8px 32px;
}

#left_column dl {
    clear: both;
    padding: 6px 0;
    overflow: hidden;
    zoom: 1;
    font-family: Tahoma, Geneva, sans-serif;
}

#left_column dt {
    float: left;
    width: 60px;
}

#left_column dd {
    float: left;
    width: 160px;
    font-size: 12px;
    padding-top: 5px;
    color: #666;
}

#left_column dd a {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#left_column dd a:hover {
    color: #ff6600;
    text-decoration: underline;
}

#left_column dd p {
    font-size: 11px;
    padding-top: 3px;
}

#left_column dd p a {
    color: #336699;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
}

#left_column dd p a:hover {
    color: #ff6600;
    text-decoration: none;
}

.baner {
    padding: 34px 0 25px 0;
}

#very_best {
    background: url(../images/very_best.gif) 0 0 no-repeat;
    font-size: 21px;
    color: #ff6600;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: right;
    padding: 6px 0 10px 10px;
    width: 202px;
}

#very_best a {
    display: block;
    text-align: right;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin-top: 3px;
}

#all_rating {
    overflow: hidden;
    clear: both;
    padding: 14px 0;
}

#all_rating a {
    color: #ff6600;
    font-size: 12px;
}

/*------------------------------
  ������� �������
  (�������� ������� - ������� ��������)
----------------------------*/
#middle_column {
    width: 494px;
    float: left;
    margin-top: -10px;
    overflow: hidden;
}

.radio_on_line {
    position: absolute;
    font-size: 35px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #eab08f;
    display: block;
    font-weight: normal;
    top: 5px;
    right: 110px;
}

#on_line_radio {
    background: url(../images/on-line_redio.gif) 0 0 no-repeat;
    width: 468px;
    height: 134px;
    padding: 59px 0 0 26px;
    margin-top: 16px;
    position: relative;
}

#on_line_radio div {
    display: block;
    float: left;
    width: 214px;
    height: 54px;
    border: 2px #ffc600 solid;
    margin: 0 7px 5px 0;
    overflow: hidden;
    background: #fff;
}

#on_line_radio div:hover {
    border: 2px #77d1ff solid;
}

#on_line_radio div span {
    display: block;
    float: left;
    padding: 2px 0 0 6px;
    width: 58px;
    height: 54px;
}

#on_line_radio div p {
    display: block;
    float: left;
    width: 150px;
    height: 54px;
    font-size: 11px;
    color: #666;
    line-height: 17px;
}

#on_line_radio div p a {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#on_line_radio div p a:hover {
    color: #ff6600;
}

#on_line_radio div p b {
    display: block;
}

#on_line_radio div p b a {
    color: #336699;
    font-size: 11px;
    font-weight: normal;
}

#on_line_radio div p b a:hover {
    color: #336699;
}

#list {
    width: 493px;
    overflow: hidden;
    margin-top: 11px;
}

#list a {
    display: block;
    float: left;
    color: #000;
    font-size: 13px;
    line-height: 17px;
}

#list a:hover {
    color: #005682;
    text-decoration: underline;
}

a.list_radio {
    background: url(../images/list_radio.gif) 0 0 no-repeat;
    padding: 4px 0 2px 28px;
    margin: 18px 0 0 14px;
}

a:hover.list_radio {
    background: url(../images/list_radio.gif) 0 -24px no-repeat;
}

a.alphabetical {
    background: url(../images/alphabetical.gif) 0 2px no-repeat;
    padding: 4px 0 1px 19px;
    margin: 18px 0 0 17px;
}

a:hover.alphabetical {
    background: url(../images/alphabetical.gif) 0 -25px no-repeat;
}

a.price {
    background: url(../images/price.gif) 0 6px no-repeat;
    padding: 4px 0 2px 19px;
    margin: 18px 0 0 18px;
}

a:hover.price {
    background: url(../images/price.gif) 0 -29px no-repeat;
}

a.new_link {
    background: url(../images/new_link.gif) -2px 6px no-repeat;
    padding: 6px 0 5px 25px;
    margin: 2px 0 0 17px;
}

* html a.new_link {
    margin: 2px 0 0 16px;
}

#style_radio {
    background: url(../images/style_bg.gif) 0 0 repeat-x;
    height: 85px;
    width: 464px;
    overflow: hidden;
    position: relative;
    padding-left: 25px;
    margin-left: 2px;
}

.style_bg_l {
    background: url(../images/style_bg_l.gif) 0 0 no-repeat;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 82px;
}

.style_bg_r {
    background: url(../images/style_bg_r.gif) 0 0 no-repeat;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 490px;
    top: 82px;
}

#style_radio a {
    display: block;
    background: url(../images/vkladka1_f.gif) 0 0 repeat-x;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    float: left;
    text-decoration: none;
    margin: 0 3px 0 0;
    line-height: 16px;
    cursor: pointer;
}

#style_radio a span {
    display: block;
    background: url(../images/vkladka1_l.gif) left top no-repeat;
    float: left;
}

#style_radio a span span {
    background: url(../images/vkladka1_r.gif) right top no-repeat;
    padding: 12px 14px 0 14px;
    height: 23px;
    float: left;
}

#style_radio a:hover {
    background: url(../images/vkladka2_f.gif) 0 0 repeat-x;
    color: #003c5b;
}

#style_radio a:hover span {
    background: url(../images/vkladka2_l.gif) left top no-repeat;
}

#style_radio a:hover span span {
    background: url(../images/vkladka2_r.gif) right top no-repeat;
}

#style_radio a.tab-current {
    display: block;
    background: #fff !important;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    float: left;
    text-decoration: none;
    margin: 0 3px 0 0;
    line-height: 16px;
}

#style_radio a.tab-current span {
    display: block;
    background: url(../images/vkladka0_l.gif) left top no-repeat !important;
    float: left;
}

#style_radio a.tab-current span span {
    background: url(../images/vkladka0_r.gif) right top no-repeat !important;
    padding: 12px 14px 0 14px;
    height: 23px;
    float: left;
}

.style_radio_text {
    font-size: 28px;
    color: #fff;
    height: 37px;
    padding-top: 13px;
    padding-left: 4px;
}

#tag {
    padding: 30px 0 77px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#tag h3 {
    font-size: 8px !important;
}

#tag a {
    color: #979292;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 16px;
    line-height: 1.4em;
}

#tag .size16 {
    font-size: 16px;
}

#tag .size22 {
    font-size: 22px;
    color: #6ffff8;
}

#tag .size28 {
    font-size: 28px;
    letter-spacing: -2px;
    color: #b9ff45;
}

#tag .size33 {
    font-size: 33px;
    letter-spacing: -4px;
    color: #e522ff;
}

#tag .size44 {
    font-size: 44px;
    letter-spacing: -6px;
    color: #4e9fff;
}

#tag .size56 {
    font-size: 56px;
    letter-spacing: -8px;
    color: #ff6607;
}

#tag .blue {
    color: #1689d1;
}

#tag .orang {
    color: #ff9200;
}

#tag .underline {
    text-decoration: underline;
}

#tag a .info {
    background: url(../images/tag_info.png) 0 0 no-repeat;
    width: 232px;
    height: 126px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #010101;
    font-weight: normal;
    z-index: 50;
    margin-top: -115px;
    margin-left: -1600px;
    zoom: 1;
    float: left;
}

* html #tag a .info {
    background: none;
    width: 232px;
    height: 126px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'images/tag_info.png', sizingMethod = 'scale');
}

#tag a:hover .info {
    margin-left: -160px;
}

#tag .info i {
    font-size: 11px;
    width: 177px;
    height: 60px;
    margin: 15px 0 0 30px;
    font-weight: normal;
    display: block;
    font-style: normal;
}

#tag .info span {
    font-size: 12px;
    color: #4f99c0;
    text-decoration: none;
    display: block;
    margin: 1px 0 0 30px;
}

/*------------------------------
   ������ ������� 
----------------------------*/
#right_column {
    float: right;
    width: 210px;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

#counter p {
    color: #003c5b;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

#counter p b {
    color: #fff;
}

.online_listen {
    margin-left: 2px;
    display: block;
}

#news {
}

#news dl {
    color: #333;
    font-size: 12px;
    padding: 40px 0 0 0;
}

#news dt {
    font-weight: bold;
    color: #838383;
    padding-bottom: 10px;
}

#news dd a {
    color: #333;
}

#news dd a:hover {
    color: #ff6600;
    text-decoration: underline;
}

#news dd img {
    display: block;
    margin-bottom: 15px;
}